<div class="content" role="main">
  <div>
    <h1>Form</h1>
    <div>
      <app-form></app-form>
    </div>
  </div>
  <button class="btn btn-primary">Danh sách</button>
  <app-table [users] = "teachers"></app-table>

  <div>
    <p>Đăng ký</p>
    <form action="">
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" (input)="onInput($event, 'name')" [value]="inputValues.name">
      </div>
      <div class="form-group">
        <label for="">Age</label>
        <input type="number" class="form-control" (input)="onInput($event, 'age')" [value]="inputValues.age">
      </div>
      <div class="form-group">
        <label for="">Gender</label>
        <input type="radio" class="form-check" (input)="onInput($event, 'gender')" [checked]="inputValues.gender === '1'" [value]="1">Nam
        <input type="radio" class="form-check" (input)="onInput($event, 'gender')" [checked]="inputValues.gender === '0'" [value]="0">Nữ
      </div>
      <div class="form-group">
        <label for="">Avatar</label>
        <input type="text" class="form-control" (input)="onInput($event, 'avatar')" [value]="inputValues.avatar">
      </div>
      <div class="form-group">
        <label for="">Status</label>
        <input type="radio" class="form-check" (input)="onInput($event, 'status')" [checked]="inputValues.status === '1'" [value]="1">Đã nghỉ
        <input type="radio" class="form-check" (input)="onInput($event, 'status')" [checked]="inputValues.status === '0'" [value]="0">Đang đi làm
      </div>
      <button class="btn btn-primary" type="button"(click)="onSubmit()">Submit</button>
    </form>
  </div>
  <div>
    Tên: <app-name [name] ="studentName"></app-name>
    MSV: <app-identity [id] = "studentId"></app-identity>
  </div>
</div>