<div class="content" role="main">
  <button class="btn btn-primary">Danh sách</button>
  <app-table [users] = "teachers"></app-table>
  <div>
    Tên: <app-name [name] ="studentName"></app-name>
    MSV: <app-identity [id] = "studentId"></app-identity>
  </div>
  <!-- <table border="1">
    <thead>

      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Avatar</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teachers of teachers">
        <td>{{teachers.id}}</td>
        <td>{{teachers.name}}</td>
        <td>{{teachers.age}}</td>
        <td>
          <span *ngIf="teachers.gender === 1">Nam</span>
          <span *ngIf="teachers.gender === 0">Nữ</span>
        </td>
        <td>
          <img src="{{teachers.avatar}}" alt="{{teachers.name}}">
        </td>
        <td>{{teachers.status}}</td>
        <td>
          <span *ngIf="teachers.status === 1">Đang làm việc</span>
          <span *ngIf="teachers.status === 0">Đã nghỉ</span>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>